html
    head
        title services-rest-api
        style.
            html{
                font-family: sans-serif;
                font-size: 1em;
                color: #444;
            }

            .code {
                border-radius: 5px; 
                -moz-border-radius: 5px; 
                -webkit-border-radius: 5px; 
                border: 1px solid #BCBEC0;
                padding: 2px;
                font:0.8em Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace
            }

            .notice {
                font-size:0.8em
            }

            .method {
                padding: 5px;
                border-radius: 5px; 
                -moz-border-radius: 5px; 
                -webkit-border-radius: 5px; 
                border: 1px solid #BCBEC0;
            }
    body
        h1 Testpage Services Rest API
        h2 Endpoints:
        div  
            div.endpoint 
                h3 Users:
                p <span class="method">GET</span> <span class="code">/api/users</span> Get all users <span class="notice">(Authentication + Admin required)</span>
                p <span class="method">GET</span> <span class="code">​/api/users/me</span> Get a single user with a JSON Web Token <span class="notice">(Authentication required)</span>
                p <span class="method">POST</span> <span class="code">​/api/users</span> Register a new user
                p <span class="method">PUT</span> ​<span class="code">/api/users/{id}</span> Update a single user <span class="notice">(Authentication + Authorization required)</span>
                p <span class="method">DELETE</span> ​<span class="code">/api/users/{id}</span> Delete a single user <span class="notice">(Authentication + Admin required)</span>
            div.endpoint 
                h3 Services:
                p <span class="method">GET</span> <span class="code">/api/services</span> Get all services <span class="notice">(Authentication required)</span>
                p <span class="method">GET</span> <span class="code">​/api/services/{id}</span> Get a single service <span class="notice">(Authentication required)</span>
                p <span class="method">POST</span> <span class="code">​/api/services</span> Post a new service <span class="notice">(Authentication required)</span>
                p <span class="method">PUT</span> ​<span class="code">/api/services/{id}</span> Update a single service <span class="notice">(Authentication + Authorization required)</span>
                p <span class="method">DELETE</span> ​<span class="code">/api/services/{id}</span> Delete a single service <span class="notice">(Authentication + Authorization required)</span>
            div.endpoint 
                h3 Categories:
                p <span class="method">GET</span> <span class="code">/api/categories</span> Get all categories <span class="notice">(Authentication required)</span>
                p <span class="method">GET</span> <span class="code">​/api/categories/{id}</span> Get a single category <span class="notice">(Authentication required)</span>
                p <span class="method">POST</span> <span class="code">​/api/categories</span> Post a new category <span class="notice">(Authentication + Admin required)</span>
                p <span class="method">PUT</span> ​<span class="code">/api/categories/{id}</span> Update a single category <span class="notice">(Authentication + Admin required)</span>
                p <span class="method">DELETE</span> ​<span class="code">/api/categories/{id}</span> Delete a single category <span class="notice">(Authentication + Admin required)</span>
            div.endpoint 
                h3 Subscriptions:
                p <span class="method">GET</span> <span class="code">/api/subscriptions</span> Get all subscriptions <span class="notice">(Authentication + Admin required)</span>
                p <span class="method">GET</span> <span class="code">/api​/subscriptions/{id}</span> Get a single subscription <span class="notice">(Authentication + Authorization required)</span>
                p <span class="method">GET</span> <span class="code">/api​/subscriptions/userSubscriptions</span> Get all subscription of a user <span class="notice">(Authentication + Authorization required)</span>
                p <span class="method">POST</span> <span class="code">​/api/subscriptions</span> Post a new subscription of a service for a user <span class="notice">(Authentication + Authorization required)</span>
            div.endpoint 
                h3 Cancalation:
                p <span class="method">POST</span> <span class="code">​/api/cancelations</span> Cancel a subscription <span class="notice">(Authentication + Authorization required)</span> 
            div.endpoint 
                h3 Authentication:
                p <span class="method">POST</span> <span class="code">​/api/auths</span> Authenticate as a user. Returns a JSON Web Token.
            div.endpoint
                h3 Home:
                p <span class="method">GET</span> <span class="code">​/</span> Show available endpoints and methods.


